*{
    margin: 0;
    padding: 0;
}
.main-container{
    padding: 2vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    textarea{
        width: 350px;
        max-width: 80vw;
        height: 150px;
    }
    .area{
        display: flex;
        flex-direction: column;
        margin: 25px 0;
        :first-child{
            margin: 0 0 10px 0;
        }
        :nth-child(2){
        font-weight: bold;
        }
    }
    .point-container{
        margin: 50px 0 50px 0;
    }
    button{
        width: fit-content;
        height: fit-content;
        font-weight: bold;
        padding: 25px 50px;
        margin: 0 0 25px 0;
        cursor: pointer;
    }

}