* {
  margin: 0;
  padding: 0;
}

.main-container {
  padding: 2vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container textarea {
  width: 350px;
  max-width: 80vw;
  height: 150px;
}

.main-container .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0;
}

.main-container .area :first-child {
  margin: 0 0 10px 0;
}

.main-container .area :nth-child(2) {
  font-weight: bold;
}

.main-container .point-container {
  margin: 50px 0 50px 0;
}

.main-container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  padding: 25px 50px;
  margin: 0 0 25px 0;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */